.button {
  background-color: white;
  text-align: center;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 100%;
  margin: 0px 4px 0px 0px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 16px;
  background: url('../img/bg_button.png') repeat-x rgb(255, 255, 255);
  background-image: url('../img/bg_button.png');
  background-repeat: repeat-x;
  background-attachment: initial;
  background-position-x: 50%;
  background-position-y: 100%;
  -webkit-background-clip: initial;
  -webkit-background-origin: initial;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid rgb(212, 212, 212);
}

.button:hover {
  border: 1px solid black;
}

.button_inactive {
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: default;
}

.button_inactive:hover {
  border: 1px solid rgb(212, 212, 212);
}

.small_button {
  padding: 1px 4px;
  float: none;
}

.buttons_disabled {
	opacity: 0.4;
	filter: alpha(opacity=40);
	cursor: default;
}

.buttons_selected {
	background-color : lightgreen;
}

.circle_button {
	width : 24px;
	height : 24px;
	background-color : rgb(80,80,80);
	border-radius : 12px;
	box-shadow : 0 0 4px rgba(0,0,0,0.5);
	cursor : pointer;
	margin : 2px;
	color : white;
	font-weight : 400;
	text-align : center;
	line-height : 24px;
	text-decoration : none;
	font-size : 13px;
}

button.circle_button {
	width : auto;
	line-height : 21px;
	border-width : 0;
	font-size : 13px;
	padding : 0 10px;
	background-position : center center;
	background-repeat : no-repeat;
	background-size : 14px 14px;
}

a.circle_button:hover, button.circle_button:hover {
	background-color : rgb(95,95,95);
}