
/* Panel doesn't fit horizontally */
@media only screen
and (max-width : 1348px) {
	aside#panel div.wu-format-panel {
		margin-right : 60px;
	}
}

/* Very narrow screen */
@media only screen
and (max-width : 428px) {
	div.editor_container {
		/*min-height : 453px;*/
	}

	article#frontpage div#editor_write, article#frontpage div#editor_read {
		float : none;
		width : auto;
	}

	aside#panel button.wu-toggle, aside#panel button.hide {
		display : block;
	}

	aside#panel div.wu-format-panel {
		position : absolute;
		left : -500px;
		top : 0;
		width : 500px;
		margin : 0;
		z-index : 3;
	}

	aside#panel div.wu-format-panel.open {
		left : 20px;
		top : 20px;
		right : 20px;
		width : auto;
		background-color : rgba(0,0,0,0.7);
		border-radius : 12px;
	}

	aside#panel div.wu-format-panel.open > div {
		margin-bottom : 7px;
		/*clear : left;*/
	}

	aside#panel div.wu-format-panel.open .wu-icon {
		margin-right : 7px;
	}


	button#feedback {
		content : 'Fback';
	}

	div.window {
		border-radius : 0;
		-moz-border-radius : 0;
		-webkit-border-radius : 0;
	}

	div.nbe_window {
		padding : 10px;
	}

	div.nbe_window.share div.share_email > button:nth-child(3) {
		clear : left;
	}

	div.nbe_window.share div.share_email button.send {
		margin : 10px 0 0 0;
	}
}
