/****************************************************
  Format panel
****************************************************/

aside#panel {
	position : absolute;
	top : 0;
	left : 0;
	right : 0;
	height : 46px;
	/*box-shadow : 0 0 3px rgba(0,0,0,0.5);*/
	z-index : 2;
	padding : 5px 210px 0 48px;
}

aside#panel .wu-format-panel {
	height : 31px;
	background-color : #6dcff6;
	border-radius : 12px;
	padding-left : 4px;
	padding-bottom : 6px;
}

body.editor aside#panel {
	background-color : #6dcff6;
	border-bottom : 1px solid #5cb0d1;
}

aside#panel div.wu-format-panel.open {
	height : auto;
	overflow : auto;
}

aside#panel button.wu-toggle {
	display : block;
	position : absolute;
	top : 12px;
	right : 210px;
}

div.wu-format-panel button.hide {
	display : none;
	float : left;
	clear : left;
	background-color : rgb(220,120,120);
	font-weight : bold;
}

/****************************************************
  Status panel
****************************************************/

div.status_panel {
	position : absolute;
	top : 0;
	right : 56px;
	padding : 12px;
	z-index : 2;
	overflow : hidden;
}

div.status_panel div, div.status_panel svg, div.status_panel button {
	display : block;
	float : left;
}
