body {
	margin : 0;
	background-color : white;
}

body, button {
	font-family : Helvetica, sans-serif;
}

div.full_screen_message {
	position : absolute;
	top : 0;
	right : 0;
	bottom : 0;
	left : 0;
	text-align : center;
	font-size : 50px;
	font-weight : 300;
	background-color : white;
	z-index : 4;
}

div.full_screen_message > div {
	position : absolute;
	top : 30%;
	right : 5%;
	bottom : 0;
	left : 5%;
}

#home {
	display : block;
	position : absolute;
	top : 12px;
	left : 12px;
	background-image : url('/img/home.svg');
	z-index : 2;
	background-position : center center;
	background-repeat : no-repeat;
	background-size : 14px 14px;
}

#faq {
	display : block;
	position : absolute;
	top : 12px;
	right : 40px;
	z-index : 2;
	font-size : 16px;
}

#feedback {
	display : block;
	position : absolute;
	top : 12px;
	right : 12px;
	z-index : 2;
	text-align : center;
	background-color : rgb(80,137,80);

	background-image: linear-gradient(bottom, rgb(80,137,80) 0%, rgb(96,166,96) 59%);
	background-image: -o-linear-gradient(bottom, rgb(80,137,80) 0%, rgb(96,166,96) 59%);
	background-image: -moz-linear-gradient(bottom, rgb(80,137,80) 0%, rgb(96,166,96) 59%);
	background-image: -webkit-linear-gradient(bottom, rgb(80,137,80) 0%, rgb(96,166,96) 59%);
	background-image: -ms-linear-gradient(bottom, rgb(80,137,80) 0%, rgb(96,166,96) 59%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(80,137,80)),
		color-stop(0.59, rgb(96,166,96))
	);
}

#feedback:hover {
	background-color : rgb(94,162,94);

	background-image: linear-gradient(bottom, rgb(94,162,94) 0%, rgb(113,194,113) 59%);
	background-image: -o-linear-gradient(bottom, rgb(94,162,94) 0%, rgb(113,194,113) 59%);
	background-image: -moz-linear-gradient(bottom, rgb(94,162,94) 0%, rgb(113,194,113) 59%);
	background-image: -webkit-linear-gradient(bottom, rgb(94,162,94) 0%, rgb(113,194,113) 59%);
	background-image: -ms-linear-gradient(bottom, rgb(94,162,94) 0%, rgb(113,194,113) 59%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(94,162,94)),
		color-stop(0.59, rgb(113,194,113))
	);
}

.message_success {
	color : green;
	font-size : 14px;
}

.message_failure {
	color : red;
	font-size : 14px;
}

/* Editor */

div.editor_container {
	position : absolute;
	top : 51px;
	bottom : 0;
	left : 0;
	right : 0;
	outline : 16px;
	overflow-y : auto;
	background-color : white;
	padding : 20px;
}

body.read_editor div.editor_container {
	top : 0;
}
