.wu-editor {
	white-space : pre-wrap;
	word-wrap : break-word;
	font-size : 16px;
	font-family : Arial;
	line-height : 120%;
	line-height : 160%;
	outline : 0;
}

.wu-editor span {
	font-size : 16px;
	font-family : Arial;
}

.wu-root {
	background-color : white;
	min-height : 400px;
}