.wu-format-panel {
	font-size : 16px;
	font-weight : normal;
	overflow : hidden;
	z-index : 2;
	position : relative;
}

.wu-format-panel > div {
	float : left;
	margin-right : 14px;
}

.wu-toggle {
	display : none;
}
