
.wu-icon {
	width : 26px;
	min-width : 26px;
	height : 24px;

	float : left;

	background-color : white;
	background-position : center center;
	background-repeat : no-repeat;

	padding : 0;

	border-radius : 2px;
	border : 1px solid #5cb0d1;

	margin : 10px 2px 0 2px;

	font-family : Times;
	font-size : 16px;
	line-height : 22px;
}

.wu-icon:hover {
	background-color : rgb(245,245,245);
}

.wu-drop-down {
	position : relative;
	display : inline-block;

	height : 22px;

	background-image : url('/img/down.svg');
	background-position : 92% center;
	background-size : 9px 9px;

	padding-left : 5px;
	padding-right : 17px;

	cursor : default;

	font-size : 14px;
	font-family : Helvetica;
}

.wu-drop-down > span {
	font-size : 14px !important;
	line-height : auto !important;
	margin : 0 !important;
	padding : 0 !important;
}

.wu-drop-down > input {
	width : 100%;
	border-width : 0;
	padding : 0;
	font-size : 14px;
	font-family : Helvetica;
}

.wu-menu {
	position : absolute;
	z-index : 3;
	overflow : hidden;

	background-color : rgb(250,250,250);

	border-radius : 2px;
	border-top-left-radius : 0;
	border-top-right-radius : 0;

	box-shadow : 0 0 4px rgba(0,0,0,0.3);

	cursor : default;

	font-size : 14px;
}

.wu-menu-row {
	padding : 1px 5px;
	line-height : 24px !important;
	white-space : pre;
	margin : 0;
}

.wu-menu-row:before {
	display : inline-block;
	width : 20px;
	content : " ";
	margin : 0;
	font-size : 14px;
}

.wu-menu-row > span {
	display : inline-block !important;
}

.wu-menu-row:hover {
	background-color : rgb(230,230,230);
	border-top : 1px solid rgb(200,200,200);
	border-bottom : 1px solid rgb(200,200,200);
	padding : 0 5px;
}

.wu-menu-row.wu-selected:before {
	content : "\2713 ";
}

.wu-icon-heading {
	min-width : 20px;
}

.wu-icon-font_family {
	min-width : 60px;
}

.wu-icon-bold {
	font-weight : bold;
}

.wu-icon-italic {
	font-style : italic;
}

.wu-icon-underline {
	text-decoration : underline;
}

.wu-icon-strikethrough {
	text-decoration : line-through;
}

.wu-icon-color {
	/*color : red;*/
}

.wu-icon-background_color > div {
	width : 10px;

	padding : 0 3px;
	border : 1px solid black;
	margin : 0 auto;

	line-height : 16px;
	text-shadow :
		-1px -1px 2px white,
		1px -1px 2px white,
		-1px 1px 2px white,
		1px 1px 2px white;
}

.wu-icon-super span {
	vertical-align : super;
	font-size : 8px;
	line-height : 5px;
}

.wu-icon-sub span {
	vertical-align : sub;
	font-size : 8px;
	line-height : 5px;
}

.wu-icon-text_align {
	min-width : 42px;
}

.wu-icon-list {
	min-width : 54px;
}

.wu-icon-special_characters {
	background-image : url('/img/ampersand.svg');
	background-size : 18px 18px;
}

.wu-icon-insert_link,
.wu-icon-insert_image {
	width : 36px;
	background-size : 9px 9px, 18px 18px;
	background-position : 4px center, 14px center;
}

.wu-icon-insert_link {
	background-image : url('/img/plus.svg'), url('/img/link.svg');
}

.wu-icon-insert_image {
	background-image : url('/img/plus.svg'), url('/img/image.svg');
}

.wu-icon-edit_link,
.wu-icon-edit_image {
	width : 36px;
	position : relative;
}

.wu-icon-edit_link img,
.wu-icon-edit_image img {
	position : absolute;
	top : 3px;
	right : 4px;
	width : 18px;
	height : 18px;
}

.wu-icon-edit_link img:first-child,
.wu-icon-edit_image img:first-child {
	top : 7px;
	left : 4px;
	right : auto;
	width : 9px;
	height : 9px;
}

.wu-icon-undo,
.wu-icon-redo {
	vertical-align : middle;
}

.wu-icon-undo img,
.wu-icon-redo img {
	margin-top : 2px;
}

.wu-icon-undo img,
.wu-icon-redo img {
	width : 18px;
	height : 18px;
}

.wu-icon.on {
	background-image: linear-gradient(bottom, rgb(144,238,144) 17%, rgb(193,245,193) 59%);
	background-image: -o-linear-gradient(bottom, rgb(144,238,144) 17%, rgb(193,245,193) 59%);
	background-image: -moz-linear-gradient(bottom, rgb(144,238,144) 17%, rgb(193,245,193) 59%);
	background-image: -webkit-linear-gradient(bottom, rgb(144,238,144) 17%, rgb(193,245,193) 59%);
	background-image: -ms-linear-gradient(bottom, rgb(144,238,144) 17%, rgb(193,245,193) 59%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.17, rgb(144,238,144)),
		color-stop(0.59, rgb(193,245,193))
	);
}

.wu-icon.off {
}

.wu-icon-undo.on,
.wu-icon-redo.on,
.wu-icon-decrease_indent.on,
.wu-icon-increase_indent.on,
.wu-icon-edit_link.on,
.wu-icon-edit_image.on {
	background-color : rgb(230,230,230);
	color : black;
}

.wu-icon-undo.off,
.wu-icon-redo.off,
.wu-icon-decrease_indent.off,
.wu-icon-increase_indent.off,
.wu-icon-edit_link.off,
.wu-icon-edit_image.off {
	opacity : 0.3;
	background-color : white;
}


/* Color menu */


.wu-color_menu {
	padding : 2px;
}

.wu-color_default {
	height : 26px;
	line-height : 24px;
	float : left;
	overflow : hidden;
}

.wu-color_default > span {
	padding-left : 2px;
	cursor : pointer;
}

.wu-color_default > span:hover {
	text-decoration : underline;
}

.wu-color_custom {
	float : left;
	margin-left : 12px;
}

.wu-color_custom > div {
	margin-right : 3px;
}

.wu-color_custom > input {
	width : 23px;
	margin-left : 1px;
	margin-right : 8px;
	padding-left : 0;
	padding-right : 0;
	outline-width : 2px;
}

.wu-color_swatch {
	width : 20px;
	height : 20px;
	margin : 2px 2px 2px 2px;
	float : left;
	border-radius : 2px;
	/*box-shadow : 0 0 2px rgba(0,0,0,0.2);*/
	cursor : pointer;
}

.wu-color_swatch:nth-child(12n+3) {
	clear : left;
}

.wu-color_swatch:hover {
	box-shadow : 0 0 3px rgba(0,0,0,0.7);
}

.wu-color_swatch.wu-selected {
	width : 18px;
	height : 18px;
	border : 1px solid white;
	box-shadow : 0 0 2px rgba(0,0,0,0.7);
}

/****************************************************
  special characters
****************************************************/

.wu-special_characters, .wu-image_window  {
	padding : 20px;
}

.wu-special_characters input, .wu-image_window input {
  width: 320px;
  margin-bottom : 20px;
  font-size : 16px;
}

.wu-image_window input {
	width : 500px;
}

.wu-character_set {
  overflow: auto;
  width: 326px;
  height: 200px;
  margin: 18px 0px;
  padding : 2px 0 0 2px;
}

.wu-character_set div {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 4px;
  margin-bottom: 4px;
  text-align: center;
  line-height: 24px;
  margin-top: 0px;
  background-color : white;
  box-shadow : 0 0 2px rgba(0,0,0,0.3);
  border-radius : 4px;
}

.wu-special_characters div div div:hover {
	border : 1px solid rgb(160,160,160);
	width : 22px;
	height : 22px;
	line-height : 22px;
  cursor: pointer;
  background-color : rgb(230, 255, 220);
}

.wu-special_character_buttons {
  margin-top: 18px;
}

.wu-clipboard {
	position : absolute;
	right : 100%;
}
