[submodule "external/catch"]
	path = external/catch
	url = https://github.com/philsquared/Catch.git
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/zf_log"]
	path = external/zf_log
	url = git@github.com:wonder-mice/zf_log.git
